{
  "presets": [
    "env"
  ],
  "plugins": [
    ["inferno", { "imports": true }],
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "react": "inferno-compat",
        "react-dom": "inferno-compat"
      }
    }]
  ]
}
